
.button {
    background-color: var(--colorSecondary);
    border: none;
    font-family: var(--font);
    color: white;
    border-radius: 5px;
    height: 5rem;
    width: 22rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: var(--fontRegular);
    cursor: pointer;
    margin: 1rem;
    z-index: 1;
    transition: .2s ease-in-out;
}

.button__outline {
    background-color: transparent;
    border: .2rem solid var(--colorSecondary);
    color: var(--colorText);
    margin-top: 2rem;
    font-family: var(--font);
    border-radius: 5px;
    height: 5rem;
    width: 22rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: var(--fontRegular);
    cursor: pointer;
    margin: 1rem;   
    z-index: 1;
    transition: .2s ease-in-out;
}

.a__button {
    margin: 1rem;
    background-color: var(--colorSecondary);
    border: none;
    font-family: var(--font);
    color: white;
    border-radius: 5px;
    height: 5rem;
    width: 22rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: var(--fontRegular);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    transition: .2s ease-in-out;
}

.menu__item--highlight:hover{
    background-color: #00aab6;
  }

  .a__button:hover {
    background-color: #00aab6;
  }
  .button:hover {
    background-color: #00aab6;
  }

  .button__outline:hover {
      border: .2rem solid #00aab6 ;
    background-color: #00aab6;
    color: white;
  }