
.button {
    margin-top: 1rem;
    background-color: var(--colorSecondary);
    border: none;
    font-family: var(--font);
    color: white;
    border-radius: 5px;
    height: 5rem;
    width: 20rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: var(--fontRegular);
    cursor: pointer;
}

.button__outline {
    background-color: transparent;
    border: .2rem solid var(--colorSecondary);
    color: var(--colorText);
    margin-top: 2rem;
    font-family: var(--font);
    border-radius: 5px;
    height: 5rem;
    width: 20rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: var(--fontRegular);
    cursor: pointer;
    margin-top: 1rem;
}

.a__button {
    margin-top: 3rem;
    background-color: var(--colorSecondary);
    border: none;
    font-family: var(--font);
    color: white;
    border-radius: 5px;
    height: 5rem;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: var(--fontMedium);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
