.nav {
  display: grid;
  justify-self: space-between;
  align-self: center;
  height: 6rem;
  grid-template-columns: 2vw 1fr 2vw;
  width: 100vw;
}

.menu {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
}

.menu__items {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  font-size: var(--fontRegular);
  font-weight: var(--fontWeightLight);
  padding: 2rem;
  text-decoration: none;
}

.highlight {
  background-color: var(--colorSecondary);
  color: white;
  border-radius: 5px;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
