.header {
    height: 100%;
    background-image: url(/assets/img/home/header_bg.svg);
    background-position: center;
    background-repeat:repeat;
}

.header__info {
    padding-top: 10rem;
    animation: fadein 2s;
}

.header__title {
    text-align: center;
    font-size: var(--fontBig);
    font-weight: var(--fontWeightAlt);
    color: var(--colorMain);
}

.subtext {
    text-align: center;
    font-size: var(--fontSmall);
    font-weight: var(--fontWeightLight);
    color: var(--colorText);
    line-height: 1.8rem;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: var(--spacerBig);
}

.button__wrapper {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 2rem;
    background-color: var(--colorSecondary);
    border: none;
    font-family: var(--font);
    color: white;
    border-radius: 5px;
    height: 4rem;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: var(--fontRegular);
}

.span {
    font-weight: var(--fontWeightBold);
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    max-width: 80rem;
    margin-top: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
}

.info__left {
    justify-self: flex-start;
    align-self: center;
}

.info__right {
    justify-self: center;
    align-self: center;
    margin: 0 auto;
}

.info__title {
    font-size: var(--fontBig);
    font-weight: var(--fontWeightAlt);
    margin-top: 5rem;
    color: var(--colorMain);
    text-align: center;
}

.info__subtext {
    text-align: left;
    max-width: 40rem;
    margin-top: 1rem;
    text-align: center;
}

.numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.number__box {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
}

.number__text {
    font-weight: var(--fontWeightBold);
    font-size: var(--fontMedium);
}

.number__name{
    font-size: var(--fontRegular);
    margin-top: 1rem;
}

.footer {
    background-color: var(--colorBackground);
    padding-bottom: 1rem;
    margin-top: var(--spacerBig);
}

.sponsors {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100rem;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.sponsor__img {
    margin: 1rem;
}

.footer__bottom--text {
    text-align: center;
}

.footer__text {
    font-size: var(--fontSmall);
    margin: var(--spacerRegular);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (min-width: 678px) {
    .info {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .info__right {
        justify-self: flex-end;
        align-self: center;
        margin: 0;
    }
    
    .info__title {
        text-align: left;
    }
    
    .info__subtext {
        text-align:left;
    }

    .info__left--img {
        width: 25rem;
    }

  }