.thankyou__wrapper {
width: 100vw;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-image: url(/assets/img/home/header_bg.svg);
background-position: center;
background-repeat:repeat;
background-color: white;
}

.thankyou {
    font-size: 4rem;
    color: var(--colorMain);
}

.thankyou__home {
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    color: var(--colorText);

}

.underline {
    text-decoration: underline;
    color: var(--colorMain);
    font-weight: var(--fontWeightAlt);
}