.hidden{
    display: none;
}

.indicators{
display: flex;
align-items: center;
justify-content: center;
}

.indicator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;

}

.indicator__text {
    margin-top: var(--spacerSmall);
    font-size: var(--fontMedium);
}

/* POPUP STYLING */
.popup__wrapper {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -5;
    position: absolute;
}

.popup {
    background-color: var(--colorBackground);
    height: 40rem;
    width: 30rem;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.popup__info--wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
}

.popup__title {
    font-size: var(--fontMedium);
    font-weight: var(--fontWeightAlt);
    color: var(--colorMain);
}

.popup__subtext {
    font-size: var(--fontSmall);
    font-weight: var(--fontWeightRegular);
    color: var(--colorText);
    margin: 0 auto;
    margin-top: 1rem;
}

.popup__buttons {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup__button {
    background-color: transparent;
    border: .2rem solid var(--colorSecondary);
    color: var(--colorText);
}

.tutorial__button {
    width: 25rem;
}

.handtrack {
    display: none;
    text-align: center;
    font-size: var(--fontSmall);
    color: var(--colorMain);
    font-family: var(--fontWeightBold);
}
.nohandtrack {
    text-decoration: underline;
    font-size: var(--fontSmall);
    font-family: var(--fontWeightLight);
    color: var(--colorText);
    cursor: pointer;
}

/* END OF POPUP STYLING */



/* TUTORIAL STEP STYLING */
.steps__wrapper {
    height: 100%;
    width: 100vw;
    background-image: url(/assets/img/home/header_bg.svg);
    background-position: center;
    background-repeat:repeat;
    background-color: white;
    z-index: -5;
    position: absolute;
} 

.steps__menu--items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
}

.steps__menu--item {
    font-size: var(--fontRegular);
    font-weight: var(--fontWeightBold);
    display: flex;
    align-items: center;
    padding: .5rem;
    text-decoration: none;
    color: var(--colorMain);
}

.back::before {
    display: block;
    content: ' ';
    background-image: url('/assets/img/tutorial/back.svg');
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
    margin: .8rem;
}

.tip::after {
    display: block;
    content: ' ';
    background-image: url('/assets/img/tutorial/tip.svg');
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
    margin: .8rem;
}

.step__wrapper {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.step__left {
    height: 100%;
}

.step__subtext {
    margin-top: 3rem;
    font-size: var(--fontRegular);
    font-weight: var(--fontWeightLight);
    line-height: var(--spacerBig);
    max-width: 60rem;
}

.tutorial__button {
    margin-top: 5rem;
}

.step__indicators {
    display: flex;
    justify-content: space-evenly;
    width: 60rem;
    margin: 0 auto;
    margin-top: 10rem;
}

.step__indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
}

.step__indicator--number {
    font-size: var(--fontBig);
    margin: .5rem;
    color: var(--colorText);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: .3rem solid var(--colorAccent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.step__indicator--active {
    color: white;
    background-color: var(--colorAccent);
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.step__indicator--text {
    font-size: var(--fontRegular);
}
/* END OF TUTORIAL STEP STYLING */



@media only screen and (min-width: 678px) {

    .indicators{
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-left: 4rem;
    }


    /* POPUP STYLING 678PX */

.popup {
    height: 25rem;
    width: 50rem;

}

.popup__title {
    font-size: var(--fontMedium);
    font-weight: var(--fontWeightAlt);
    color: var(--colorMain);
}

.popup__subtext {
    font-size: var(--fontSmall);
    font-weight: var(--fontWeightRegular);
    color: var(--colorText);
    margin: 0 auto;
    margin-top: 1rem;
}

.popup__buttons {
    flex-direction: row;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.popup__button {
    background-color: transparent;
    border: .2rem solid var(--colorSecondary);
    color: var(--colorText);
}

.tutorial__button {
    width: 20rem;
}

/* END OF POPUP STYLING */
}