.indicators{
display: flex;
align-items: center;
justify-content: center;


@media (--only-regular-screen) {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}
}

.indicator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.indicator__text {
    margin-top: var(--spacerSmall);
    font-size: var(--fontMedium);
}

/* POPUP STYLING */
.popup__wrapper {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -5;
    position: absolute;
}

.popup {
    background-color: var(--colorBackground);
    height: 40rem;
    max-width: 50rem;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @media (--only-regular-screen) {
        height: 25rem;
        width: 50rem;
    }
}

.popup__info--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (--only-regular-screen) {
        height: 90%;
    }
}

.popup__title {
    font-size: var(--fontMedium);
    font-weight: var(--fontWeightAlt);
    color: var(--colorMain);
}

.popup__subtext {
    font-size: var(--fontSmall);
    font-weight: var(--fontWeightRegular);
    color: var(--colorText);
    margin: 0 auto;
    margin-top: 1rem;
    width: 85%;

}

.popup__buttons {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (--only-regular-screen) {
        flex-direction: row;
        width: 95%;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }
}


.handtrack {
    display: none;
    text-align: center;
    font-size: var(--fontSmall);
    color: var(--colorMain);
    font-family: var(--fontWeightBold);
    margin: 0 auto;
}
.nohandtrack {
    text-decoration: underline;
    font-size: var(--fontSmall);
    font-family: var(--fontWeightLight);
    color: var(--colorText);
    cursor: pointer;
}

/* END OF POPUP STYLING */



/* TUTORIAL STEP STYLING */
.steps__wrapper {
    height: 100%;
    width: 100vw;
    background-image: url(/assets/img/home/header_bg.svg);
    background-position: center;
    background-repeat:repeat;
    background-color: white;
    position: absolute;
    display: none;
    grid-template-rows: 5rem 1fr 8rem;
} 

.steps__menu--items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;

}

.steps__menu--item {
    font-size: var(--fontMedium);
    font-weight: var(--fontWeightBold);
    display: flex;
    align-items: center;
    padding: .5rem;
    text-decoration: none;
    color: var(--colorMain);
}


.back::before {
    display: block;
    content: ' ';
    background-image: url('/assets/img/tutorial/back.svg');
    background-size: 4rem 4rem;
    height: 4rem;
    width: 4rem;
}

.tip::after {
    display: block;
    content: ' ';
    background-image: url('/assets/img/tutorial/tip.svg');
    background-size: 4rem 4rem;
    height: 4rem;
    width: 4rem;
}

.step__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 0 auto;

    @media (--only-regular-screen) {
        justify-content: space-between;
        height: 90%;
    }

    @media (--only-medium-screen) {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 130rem;
    }
}

.step__intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media (--only-medium-screen) {
        align-items: flex-start;
        }
}

.step__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;

    @media (--only-regular-screen) {
        justify-content: flex-start;
    }

    @media (--only-medium-screen) {
        justify-content: center;
        align-items: flex-start;
    }
}

.step__title {
    height: 6rem;

    @media (--only-regular-screen) {
        margin-left: 0;
        height: 12rem;
    }
}

.step__subtext {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: var(--fontRegular);
    font-weight: var(--fontWeightLight);
    line-height: 2.5rem;
    max-width: 50rem;
    text-align: center;

    @media (--only-medium-screen) {
        text-align: left;
        }
}

.step__button--wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (--only-regular-screen) {
        margin-top: 2rem;
    }

    @media (--only-medium-screen) {
        justify-content: flex-start;
        }
}

.tutorial__button {
    margin-top: 1rem;
}

.step__right--wrapper {
    position: absolute;
    width: 100vw;
    display: flex;
    
}

.step__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 95%;
    margin: 0 auto;


    @media (--only-medium-screen) {
        margin: 0;
        padding: 0;
        display: block;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 30rem;
        }
}

.lottie__container {
    width: 20rem;
    display: none;

    @media (--only-medium-screen) {
        display: flex;
    }
}

.show__img--button {
    @media (--only-regular-screen) {
        display: none;
    }
}

.step__right--img {
    width: 90%;
    display: none;

    @media (--only-regular-screen) {
        display: flex;
    }

    @media (--only-medium-screen) {
        display: none
    }
}


.step__indicators {
    display: flex;
    justify-content: space-evenly;
    max-width: 70rem;
    margin: 0 auto;

    @media (--only-regular-screen) {
        margin-bottom: 4rem;
    }
}

.mobile__buttons {
    display: flex;
    width: 3rem;
    height: 3rem;
    border: .3rem solid var(--colorAccent);
    border-radius: 50%;
    transition: .2s ease-in-out;

    @media (--only-regular-screen) {
       display: none;
    }
}

.step__indicator--wrapper {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    cursor: pointer;

    @media (--only-regular-screen) {
        display: flex;
     }
}

.step__indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1rem;
}

.step__indicator--number {
    font-size: var(--fontBig);
    margin: .5rem;
    color: var(--colorText);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: .3rem solid var(--colorAccent);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
}

.step__indicator--active {
    color: white;
    background-color: var(--colorAccent);
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.step__indicator--activemobile {
    height: 3rem;
    width: 3rem;
    background-color: var(--colorAccent);

}

.step__indicator--text {
    font-size: var(--fontRegular);
}

.lottie__fun {
    display:none;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (--only-medium-screen) {
        display: block;
     }
}