:root {
  --colorBackground: #def3fc;
  --colorText: #535353;
  --colorMain: #32298d;
  --colorSecondary: #00cad8;
  --spacerSmall: 0.75rem;
  --spacerRegular: 1rem;
  --spacerBig: 1.88rem;
  --fontSmall: 1.5rem;
  --fontRegular: 1.8rem;
  --fontMedium: 2.2rem;
  --fontBig: 4rem;
  --font: "Poppins", sans-serif;
  --fontAlt: "arial", serif;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightBold: 500;
  --fontWeightAlt: 600;
}

@custom-media --only-small-screen (width <= 320px);
@custom-media --only-regular-screen (width <= 768px);
@custom-media --only-medium-screen (width <= 900px);
