@import "./css/reset.css";
@import "./css/vars.css";
@import "./css/home.css";

/* Components */
@import "./css/components/navigation.css";
@import "./css/components/footer.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
  font-size: 62.5%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
