@import "./css/reset.css";
@import "./css/vars.css";
@import "./css/home.css";
@import "./css/kit.css";
@import "./css/tutorial.css";
@import "./css/checkout.css";
@import "./css/thankyou.css";

/* Components */
@import "./css/components/navigation.css";
@import "./css/components/footer.css";
@import "./css/components/buttons.css";
@import "./css/components/components.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,body {
  box-sizing: inherit;
  font-size: 62.5%;
  height: 100%;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
